/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 versions,IE 11
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 versions,IE 11
*/

html {
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f3dc75;
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;

    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

/* Create a custom scrollbar track */
body::-webkit-scrollbar {
    width: 20px;
    background-color: #d0d0d0;
    border: 2px solid #dcdcdc;
    border-style: inset;
}

/* Create a custom scrollbar thumb */
body::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border: 2px solid #eeeeee;
    border-style: outset;
}

/* Modify appearance on hover */
body::-webkit-scrollbar-thumb:hover {
    background-color: #ababab;
}

/* Modify appearance when dragging */
body::-webkit-scrollbar-thumb:active {
    background-color: #9d9d9d;
}

/* Style the scrollbar buttons */
body::-webkit-scrollbar-button:vertical:single-button {
    display: block;
    width: 16px;
    height: 20px;
    background-color: #bfbfbf;
    border: 2px solid #dcdcdc;
    border-style: outset;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Style the scrollbar top button (arrow) */
body::-webkit-scrollbar-button:vertical:single-button:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='20' fill='%23969696'><polygon points='8,20 0,0 16,0'/></svg>");
}

/* Style the scrollbar top button (arrow) on hover */
body::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='20' fill='%23112121'><polygon points='8,20 0,0 16,0'/></svg>");
}

/* Style the scrollbar bottom button (arrow) */
body::-webkit-scrollbar-button:vertical:single-button:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='20' fill='%23969696'><polygon points='0,20 16,20 8,0'/></svg>");
}

/* Style the scrollbar bottom button (arrow) on hover */
body::-webkit-scrollbar-button:vertical:single-button:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='20' fill='%23112121'><polygon points='0,20 16,20 8,0'/></svg>");
}





navbar {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #000000;
    color: #ffffff;
    padding: 0;
    margin: 0;
    /* gap: 20px; */
    /* removed gap because it doesnt work on IE11. I replaced it by adding a 20px margin to the sides of the divider below. */
    width: 100%;
    font-weight: bold;
    font-size: small;
}

navbar divider {
    width: 0;
    border-left: .1px solid white;
    margin-top: 4px;
    margin-bottom: 4px;
    margin: 0 20px;
}

navbar a {
    text-align: center;
    margin: 0;
    width: auto;
    text-decoration: none;
    color: white;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transform: scaleY(.85);
    -ms-transform: scaleY(.85);
    transform: scaleY(.85);
}

navbar a:first-child {
    text-align: center;
    margin: 0;
    width: auto;
    text-decoration: none;
    color: white;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
}

a:hover {
    opacity: .8;
}

#page-content {
    width: 55vw;
    max-width: 1000px;
    background-color: #ffffff;

    border-color: #aaaaaa;
    border-right-style: ridge;
    border-left-style: ridge;
}

#section-wrapper {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
}

#left-section,
#middle-section,
#right-section {
    border: 1px solid #ccc;
}

#left-section {
    -webkit-box-flex: 1.3;
    -ms-flex: 1.3;
    flex: 1.3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #54fcfc;
}

#middle-section {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

#right-section {
    -webkit-box-flex: 1.3;
    -ms-flex: 1.3;
    flex: 1.3;
}

#banner {
    position: relative;
    background-image: url("assets/BANNER.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; /* Set the width to 100% or a specific value */
    height: 0;   /* Set the height to 0 */
    padding-bottom: 28.57%; /* Maintain a 3.5:1 aspect ratio (100 / 3.5) */

    /* removed aspect-ratio because IE11 doesnt support it. */
}


#elephant {
    position: relative;
    background-image: url("assets/ELEPHANT.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; /* Set the width to 100% or a specific value */
    height: 0;   /* Set the height to 0 */
    padding-bottom: 100%; /* Maintain a square aspect ratio */
}

#contents-div {
    background-color: #fdfda2;
    padding: 5px;
    color: black;
    text-align: center;
    font-size: x-large;
    font-weight: bold;

    border: 1px solid #aaa;
    border-style: outset;
}

.left-content-section {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px;
    margin-bottom: 0px;
}

.left-content-section h3 {
    font-size: large;
    -webkit-transform: scaleY(.95);
    -ms-transform: scaleY(.95);
    transform: scaleY(.95);
    margin: 0;
}

.left-content-section a {
    margin: 0;
    color: #2659ad;
}

.marquee {
    font-size: 20px;
    -webkit-animation: marquee 5s linear infinite;
    animation: marquee 5s linear infinite;
}

.middle-section-posts {
    margin: 20px;
}

.middle-section-posts .message {
    padding: 0 5px;
}

.middle-section-posts .message a {
    color: #2659ad;
    font-weight: bold;
}

.middle-section-posts .message a#title {
    font-size: large;

}

.middle-section-posts .message p {
    margin-top: 5px;
}

.middle-section-posts header {
    padding: 5px 10px;
    margin-bottom: 15px;

    font-weight: bold;
    font-size: larger;

    border-top: 3px solid #54fcfc;

    /*Grainy Shit*/
    background-image:
        -o-repeating-linear-gradient(bottom,
            rgba(253, 253, 162, 0.2) 0,
            rgba(253, 253, 162, 0.2) 1px,
            transparent 1px,
            transparent 2px),
        -o-linear-gradient(left, #fdfda2, transparent 92%, white 95%);
    background-image:
        repeating-linear-gradient(0deg,
            rgba(253, 253, 162, 0.2) 0,
            rgba(253, 253, 162, 0.2) 1px,
            transparent 1px,
            transparent 2px),
        -webkit-gradient(linear, left top, right top, from(#fdfda2), color-stop(92%, transparent), color-stop(95%, white));
    background-image:
        repeating-linear-gradient(0deg,
            rgba(253, 253, 162, 0.2) 0,
            rgba(253, 253, 162, 0.2) 1px,
            transparent 1px,
            transparent 2px),
        linear-gradient(to right, #fdfda2, transparent 92%, white 95%);


}

.right-content-section {
    padding: 10px 0px;
    margin: 0 15px;
    border-bottom: 3px solid #aaa;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top: 2px outset #aaa;
    border-bottom: 2px outset #aaa;
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translateX(50vw);
        transform: translateX(50vw);
    }

    50% {
        -webkit-transform: translateX(-50vw);
        transform: translateX(-50vw);
    }

    100% {
        -webkit-transform: translateX(50vw);
        transform: translateX(50vw);
    }
}

@keyframes marquee {
    0% {
        -webkit-transform: translateX(50vw);
        transform: translateX(50vw);
    }

    50% {
        -webkit-transform: translateX(-50vw);
        transform: translateX(-50vw);
    }

    100% {
        -webkit-transform: translateX(50vw);
        transform: translateX(50vw);
    }
}


/* Tablet and smaller devices */
@media (max-width: 768px) {
    * {
        overflow-x: scroll !important;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #f3dc75;
        color: #000000;
        min-height: 100vh;

        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
    }

    #page-content {
        width: 100vw;
        max-width: 1000px;
        background-color: #ffffff;

        border-color: #aaaaaa;
        border-right-style: ridge;
        border-left-style: ridge;
    }

    #left-section {
        display: none;
    } 

    #middle-section {
        -webkit-box-flex: 1.5;
            -ms-flex: 1.5;
                flex: 1.5;
    }

    #right-section {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }

    navbar {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 10px;
    }
}
